h1{
    background-color: aqua;
    text-align: center;
}




h4{

    background-color: aliceblue;
    text-align: center;
}


h5{
    background-color: chartreuse;
    text-align: center;
}

.recto{
    list-style-type: none;
    float: left;
    background-color: aquamarine;
    padding-left: 10%;
    text-align: center;
}

body{
    background-color: blanchedalmond
}

#subtitulo{
    background-color: aquamarine;
}

#texto{
    padding: left 25px;
}

#menu1{
list-style-type: none;
margin: 0%;
padding: 0%;
overflow: hidden;
background-color: aquamarine;

}

#imagen_abuelita{
    width: 300px;
    margin-left: 25%;
}