<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta charset="utf-8">
    <title>Receta de patatas fritas</title>
    <link rel="stylesheet" href="estilos.css">
  </head>
  <body>
    <h1>Practicas Antiguas</h1>
    <table>
        <tr>
          <td>Practica 1</td>
          <td>Practica 2</td>
          <td>Practica 3</td>
        </tr>
        <tr>
          <td><a href="/ej1">edad+100</a></td>
          <td><a href="/hello.py">hola(flask)</a></td>
          <td><a href="/tabla-alumnos.py">Tabla tabla-alumnos</a></td>
        </tr>
      </table>
  </body>
</html>